<!DOCTYPE html>
<html lang="en" ng-app="trendline">
<head>
  <meta charset="UTF-8">
  <title>mvp test</title>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link href="./graph/nv.d3.min.css" rel="stylesheet">
  <link rel="stylesheet" href="styles/style.css">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.min.js"></script>

<!-- D3 Files -->

<!--
  <script src="../node_modules/d3/d3.min.js">  </script>
  <link href="../d3test/nv/nvd3/build/nv.d3.min.css" rel="stylesheet">
  <script src="../d3test/nv/nvd3/build/nv.d3.min.js"></script>
  <script src='../d3test/bardata.js'></script>
  <script src='../d3test/barchart.js'></script>
-->
  
  <script src="./graph/d3.min.js">  </script>
  
<!--
  <script src="./graph/nv.d3.min.js"></script>
  <script src='./graph/bardata.js'></script>
  <script src='./graph/barchart.js'></script>
-->

	<style>
		#chart svg {
		  height: 400px;
		  width: window.innerWidth - 20px;
		  padding-left: 30px;
		}
	</style>
</head>

<!-- Title, SearchBox and a container for the graph -->
<body ng-controller="mainController as main">
<div class="container">

  <h1 class="light">Uber Critic - Be the ultimate critic</h1>
  <h3 class="light">&#169 Raghav Abboy</h3>
	
	<!-- Search box -->
	<h4 class="light">Enter your movie of interest, to scavenge for info:</h4>
	
	<div class="row">
		<div class="col-md-6">
			<form class="input-group searchbox" ng-submit="main.submit()">
					<span ng-click="main.submit()" class="input-group-addon">
						<span class="glyphicon glyphicon-search"></span>
					</span>
					<input type="text" class="form-control" ng-model="main.searchInput" placeholder="Search">
			</form>
			<div class="glance light" ng-show="main.showInfo">
				<h2 class="light"> {{main.movieInfo.Title}} </h2>
				<!-- Two Column Format -->
				<div class="row">
					<div class="col-md-7 poster">
						<img src={{main.movieInfo.Poster}}/>
					</div>
					<div class="col-md-5 movieinfo">
						<h5 class="light"><em>{{main.movieInfo.Plot}}</em></h5>
						
						<h3 class="light">Cast</h3>
						<h5 class="light">{{main.movieInfo.Actors}}</h5>

						<h3 class="light">Director</h3>
						<h5 class="light">{{main.movieInfo.Director}}</h5>

						<h3 class="light">Ratings</h3>
						<h5 class="light">Metascore: {{main.movieInfo.Metascore}}</h5>
						<h5 class="light">IMDB: {{main.movieInfo.imdbRating}}</h5>
						<h5 class="light">Rotten Tomatoes: {{main.movieInfo.tomatoRating}}</h5>

						<h4 class="light">Verdict (Rotten Tomatoes) </h4>
						<h5 lass="light"><em>"{{main.movieInfo.tomatoConsensus}}"</em></h5>

					</div>
				</div>
			</div>
		</div>
		
		<!--Tweet List to view all the statuses -->
		<div class="col-md-6 tweetbox">
			<h3 class="light" ng-show="main.showInfo">Tweets for {{main.hashtag}}</h3>
			<ul class="list-group scrollable-menu">
				<li class="list-group-item tweet" ng-repeat="status in main.statuses"><i class="fa fa-twitter fa-lg"></i>  {{status.text}}   ({{status.time}})</li>
			</ul>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-12">
			<h3 class="light"> A plot of performance versus critics' opinion</h3>
			<h4 class="light"> X axis: Metascore (aggregate)</h4>
			<h4 class="light"> Y axis: Worldwide Profit (USD) </h4>
		</div>
	</div>

	<!-- Graph -->
	<div class="row chart" id="chart"> <!-- ng-hide="!main.showInfo"> -->
	  <div class="col-md-12">
	    <svg></svg>
	  </div>
	</div>


	<!-- <div class="container" ng-model="main.searchInput"> <h3> {{main.statuses}} </h3> </div> -->

</div>    <!-- End of Container -->


  <!-- Script Files -->
  <script src="./graph/nv.d3.min.js"></script>
  <script src='./graph/bardata.js'></script>
  <script src='./graph/barchart.js'></script>

  <script src="../services/services.js"></script>
  <script src="app/app.js"></script>
  <script src="app/mainCtrl.js"></script>

</body>
</html>