body {
	/*background-image: url('background.jpg');*/
	background-image: url('theatre_background.jpg');
	background-size: 100%;
	background-attachment: fixed;
}

.chart {
	background: white;
}

.light {
	font-family: 'helvetica';
	text-align: center;
	font-weight: lighter;
	color: white;
}

.searchbox {
	padding: 10px 0px;
}

.tweet {
	opacity: 0.78;
}

.scrollable-menu {
    height: auto;
    max-height: 500px;
    overflow-x: hidden;
}

.tweetbox {
	margin: auto;
}